body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hor_con {
    display: flex;
    flex-direction: row;
}

#visit,
#active,
#hover {
    margin: 20px;
    border: 2px dashed rgb(0, 0, 0);
    height: 200px;
    width: 200px;
}

#hover {
    align-self: center;
}

#visit:focus {
    background-color: blue;
}

#active:active {
    background-color: red;
}

#hover:hover {
    background-image: url(https://imgd.aeplcdn.com/370x208/n/cw/ec/54399/swift-exterior-right-front-three-quarter-64.jpeg?isig=0);
}