/* #p1 {
    font-style: normal;
}

#p2 {
    font-style: italic;
}

#p3 {
    font-style: oblique;
} */


/* 
#p1 {
    font-size: small;
}

#p2 {
    font-size: large;
}

#p3 {
    font-size: x-large;
} */




/* #p1 {
    font-weight: 100;
}

#p2 {
    font-weight: 1000;
}

#p3 {
    font-weight: bold;
} */


/* 
#p1 {
    font-variant: normal;
}

#p2 {
    font-variant: small-caps;
}

#p3 {
    font-variant: small-caps;
} */



/* #p1 {
    font-family: 'Courier New', Courier, monospace;
}

#p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#p3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */