#con {
    display: flex;
    flex-direction: row;
}

#first,
#second {
    margin: 20px;
    height: 300px;

    border: 2px dashed black;

}

#first {
    width: 100px;
    background-color: aqua;
    transition: width 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

#first:hover {
    width: 300px;
}

#second {
    width: 300px;
}

#p1,
#p2,
#p3,
#p4 {
    width: 150px;
    height: 40px;
    background-color: greenyellow;
}

#p1:hover {
    transform: rotate(20deg);
}

#p2:hover {
    transform: scale(1.5);
}

#p3:hover {
    transform: translate(20px, 20px);
}

#p4:hover {
    transform: skewX(20deg);
}