body {
    background: linear-gradient(to left, rgba(34, 164, 116, 1), rgba(41, 47, 143, 1));
}

.container {
    margin: 50px;
    padding: 20px;
    display: flex;

}



.flex_container {
    padding: 25px;
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    left: 120px;
    border: 2px dashed rgb(6, 0, 128);
}

#image_con {
    background-repeat: no-repeat;
    background-image: url(https://imgd.aeplcdn.com/370x208/n/cw/ec/54399/swift-exterior-right-front-three-quarter-64.jpeg?isig=0);
}