<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
    <p>{{message}}</p>
    <h1>welcome {{user.username}}</h1>
    <form action="/logout/{{user.id}}" method="get">
        <button type="submit">logout</button> 
     </form>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <td>username :</td>
            <td>: {{user.username}}</td>
        </tr>
        <tr>
            <td>password :</td>
            <td>: {{user.password}}</td>
        </tr>
        <tr>
            <td>email </td>
            <td>: {{user.email}}</td>
        </tr>
        <tr>
            <td>phone </td>
            <td>: {{user.phone}}</td>
        </tr>
        <tr>
            <td>address </td>
            <td>: {{user.address}}</td>
        </tr>
        <tr>
            <td>city </td>
            <td>: {{user.city}}</td>
        </tr>
        <tr>
            <td>state </td>
            <td>: {{user.state}}</td>
        </tr>
        <tr>
            <td>country </td>
            <td>: {{user.country}}</td>
        </tr>
        <tr>
            <td>postcode </td>
            <td>: {{user.postcode}}</td>
        </tr>
    </table>
    <form action="/update_user/{{user.id}}" method="get">
        <button type="submit">Update</button> 
     </form>
     <form action="/delete_user/{{user.id}}" method="get">
         <button type="submit">Delete</button>
     </form>
</body>
</html>